<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arso.tabandtoolbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/a_app_icon"
        android:supportsRtl="true"

        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="APP_A"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="com.arso.sqlitehandler.HistoryProvider"
            android:authorities="com.arso.sqlitehandler.HistoryProvider"
            android:exported="true"
            android:multiprocess="true"/>

    </application>

</manifest>